doctype html
html(lang="en")
    head
        - var title = Web
        include includes/head
        
    body
        include includes/header

        main
            h1 Simple Gulp Task 
        include includes/scripts


